---
// @ts-check
import { ClassicChess } from "../lib/ClassicChess.js";
import { Pawn } from "../lib/chessPieces.js";
import {CellsWatcher} from "../lib/ChessGame.js";
const game = new ClassicChess();
game.init();
const generator = new CellsWatcher().setGame(game).watchGenerator(ClassicChess.cellsWatcherDefaultStrategy);
const cells = [...generator];

const pawn = new Pawn();
Object.assign(pawn, {position: [4, 4], offensiveDirection: "top"});
game.onAddPiece({piece: pawn});

---

<style>
	span {
		white-space: pre;
	}
	.board {
		font-family: monospace;
		width: max-content;
		white-space: pre;
	}
</style>
<span>
	{JSON.stringify(game, null, 2)}
</span>
<section>
<h3>Board</h3>
<p>0 - пустая клетка, 1 - куда может сходить пешка, 2 - сама пешка</p>
<section  class = "board">
	aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
	{(() => {
		const symbols = cells.map(([x, y]) => game.positions.has([x, y].toString()) 
			? 2
			: pawn.canMovedTo(x, y, game)
			? 1
			: 0
		);
		let str = "";
		while (symbols.length){
			str += symbols.splice(0, game.board.width).join("");
			str += "\n";
		}
		return str;
	})()}	
</section>
</section>

